@define-color progress_bg_color #37C8AB;

trough {
min-height: 20px;
}

progress{
  min-height: 20px;
	background-image:
        linear-gradient(
            to left,
            shade (
               @progress_bg_color,
                1.6
            ),
            shade (
                @progress_bg_color,
                1.08
            )
        );
    border: 1px solid shade (@progress_bg_color, 0.9);
}
